.chip {
  display: inline-block;
  background-color: #e0e0e0;
  padding: 0.35rem;
  margin: 4px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.profile span {
  font-size: 0.9rem;
}

button {
  border: none;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  padding: 4px 8px;
  cursor: pointer;
}
