.item-list {
  max-width: 500px;
  max-height: 200px;
  overflow-y: auto;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  margin: 0 10px;
  width: 15%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-email {
  color: rgb(180, 179, 179);
}

.item-list div {
  padding: 8px;
  cursor: pointer;
}

.item-list div:hover {
  background-color: #e0e0e0;
}

/* 
.item-list div.highlighted {
  background-color: #e0e0e0;
} */
